{%- liquid
	if use_variant
		assign target = product.selected_or_first_available_variant
	elsif placeholder
		assign target = null
	else
		assign target = product
	endif

	assign compare_at_price = target.compare_at_price
	assign price = target.price | default: 0
	assign available = target.available | default: false
	assign money_price = price | money
	if settings.currency_code_enabled
		assign money_price = price | money_with_currency
	endif
-%}

{%- unless target == null and placeholder == null -%}
	<div
		class='
			pp-flex pp-flex-col pp-text-lg
			{%- if price_class %} {{ price_class }}{% endif -%}
			{%- if available == false %} pp-opacity-50{% endif -%}
			{%- if show_badges %} pp-relative{% endif -%}
		'>
		<div class='pp-flex pp-flex-col'>
			<div
				class='pp-product-price pp-flex pp-items-center pp-gap-2 pp-text-md pp-font-bold hidden'
				data-currency-code='{{ money_price | split: ' ' | last }}'>
				<span class='price-item pp-price-item--regular' style='color: {{ price_color }};'>
					{{ money_price }}
				</span>
				<span style='{%- if compare_at_price == blank or compare_at_price == 0 or compare_at_price == price -%}display:none;{%- endif -%}'>
					<s class='price-item pp-price-item--sale' style='color: {{ compare_price_color }};'>
						{% if settings.currency_code_enabled %}
							{{ compare_at_price | money_with_currency }}
						{% else %}
							{{ compare_at_price | money }}
						{% endif %}
					</s>
				</span>
			</div>
		</div>
	</div>
{% endunless %}
