{% comment %}
	Renders product variant-picker

	Accepts:
	- product: {Object} product object.
	- block: {Object} passing the block information.
	- product_form_id: {String} Id of the product form to which the variant picker is associated.
	Usage:
	{% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
	<div
		id='variant-selects-{{ section.id }}'
		data-section='{{ section.id }}'
		{{ block.shopify_attributes }}
		class='pp-flex pp-flex-wrap pp-gap-6 pp-mb-2'>
		{%- for option in product.options_with_values -%}
			<div class='pp-w-full pp-variant-picker'>
				<div class='pp-text-sm pp-font-semibold pp-uppercase pp-tracking-wider pp-mb-4'>{{ option.name }}</div>
				<div class='pp-flex pp-flex-wrap pp-gap-2'>
					{%- for value in option.values -%}
						{%- liquid
							assign option_disabled = true
							if value.available
								assign option_disabled = false
							endif
						-%}
						{%- capture input_id -%}
              {{ section.id }}-{{ option.position }}-{{ forloop.index0 }}
            {%- endcapture -%}
						{%- capture input_name -%}
              {{ option.name | handleize }}-{{ option.position }}
            {%- endcapture -%}
						{%- capture input_dataset -%}
              data-product-url="{{ value.product_url }}"
              data-option-value-id="{{ value.id }}"
            {%- endcapture -%}
						<div class='pp-flex pp-relative'>
							<input
								type='radio'
								id='{{ input_id }}'
								name='{{ input_name | escape }}'
								value='{{ value | escape }}'
								form='{{ product_form_id }}'
								class='pp-sr-only pp-peer {% if value.selected %}pp-checked{% endif %} {% if option_disabled %}pp-disabled{% endif %} disabled:pp-opacity-50 disabled:pp-cursor-not-allowed'
								{% if value.selected %}
									checked
								{% endif %}
								{% if option_disabled %}
									disabled
								{% endif %}
								{{ input_dataset }}>
								<label
									for='{{ input_id }}'
									class='pp-border pp-border-[#e1e1e1] pp-px-3 pp-py-2 pp-text-sm !pp-mb-0 peer-checked:pp-border-black peer-checked:pp-text-black 
									{% if option_disabled %}
										pp-line-through pp-text-gray-400 pp-cursor-not-allowed
									{% else %}
										hover:pp-cursor-pointer hover:pp-border-brand-700
									{% endif %}'
									style='border-radius: calc(var(--pp-border-radius) * 0.75);'>
									{{ value | escape | capitalize }}
								</label>
						</div>
					{%- endfor -%}
				</div>
			</div>
		{%- endfor -%}

		<script type='application/json' id='ProductJson-{{ section.id }}'>
			{{ product | json }}
		</script>
	</div>
{%- endunless -%}
